---
export interface Props {
  label: string;
  name: string;
  options: Record<"label" | "value", string>[];
  selected?: string;
}

const { label, name, options, selected } = Astro.props;
---

<fieldset id={name} class="fieldset">
  <legend class="label">{label}</legend>

  <div class="flex flex-wrap gap-x-4 gap-y-2">
    {
      options.map(({ label, value }) => (
        <label for={`${name}-${value}`} class="label">
          <input
            id={`${name}-${value}`}
            type="radio"
            {name}
            {value}
            checked={value === selected}
            transition:persist
          />
          {label}
        </label>
      ))
    }
  </div>

  <p id={`${name}-error`} class="text-error text-xs opacity-0">-</p>
</fieldset>
