---
import type { JSX } from "astro/jsx-runtime";

export interface Props {
  label: string;
  name: string;
  type: JSX.HTMLInputTypeAttribute;
  value?: string | Date;
}

const { label, name, type, value: initialValue } = Astro.props;

const value =
  initialValue instanceof Date
    ? initialValue.toISOString().split("T")[0]
    : initialValue;
---

<div class="flex flex-col gap-1">
  <label for={name} class="label">{label}</label>
  <input
    id={name}
    name={name}
    type={type}
    class="input"
    transition:persist
    {value}
  />
  <p id={`${name}-error`} class="text-error text-xs opacity-0">-</p>
</div>
