---
import prettyBytes from "pretty-bytes";
import { handleActionResult } from "~/crud/action-handler";
import DataTable from "~/crud/components/DataTable.astro";
import { defineDataTable } from "~/crud/data-table";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { formatDate } from "~/utils/date";

const redirect = handleActionResult(Astro, "/sekretariat/arsip", "arsip");
if (redirect) return redirect;

const props = defineDataTable({
  base: "/sekretariat/arsip",
  name: "arsip",
  columns: {
    judul: {},
    tanggal: { header: () => "Tanggal arsip", format: formatDate },
    fileName: {
      header: () => "Link download",
      format: (fileName, { id, fileBuffer }) =>
        `<a class="link inline-flex items-center gap-x-1" target="_blank" href="/sekretariat/arsip/download/${id}">
        <span class="line-clamp-1">${fileName} (${prettyBytes(fileBuffer.byteLength)})</span>
        <iconify-icon icon="lucide:external-link" width="16"></iconify-icon>
      </a>`,
    },
    fileBuffer: false,
  },
  getDetail: ({ judul, tanggal }) =>
    `${judul} (diarsipkan ${formatDate(tanggal)})`,
});
---

<BaseLayout title="Pengarsipan">
  <DataTable {...props} />
</BaseLayout>
